@media not screen and (prefers-color-scheme: dark) {
	:root {
		--application-background-color: #F5F5F5;
	}
}

body.dlang #header {
	background-color: #B03931;
	height: auto;
}
body.dlang #header > div > nav > ul > li > a,
body.dlang #header > div > h1 > a {
	color: white;
}
body.dlang #header a .icon,
body.dlang #header button .icon {
	color: white;
}
body.dlang #header #quicksearch_top {
	background-color: white;
	color: black;
}
@media screen and (prefers-color-scheme: dark) {
	body.dlang #header #quicksearch_top {
		background-color: #802A24;
		color: white;
	}
}

body.dlang #header .inner {
	padding: 5px;
}

body.dlang #header-external-links {
	z-index: 0;
}

body.dlang #header .logo {
	display: block;
	margin-left: -100px;
	margin-right: -100px;
}

body.dlang #header img#logo {
	vertical-align: middle;
	width: 227px;
	height: 42px;
}
